@import "./App.scss";

.home{
    width: 100%;

    border: none;
    outline: none;

    

   .intro{
    height: calc(100vh - 85.6px);
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-around;
    align-items: center;
    // padding-top: 8rem ;
    background-color: lighten($color: $pri, $amount: 5%);


        .greet-title{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            row-gap: 2rem;
            
            // height: 100%;

            .title{
                height: 1.3rem;
            }


        }
        
        .greet{
            font-size: 2rem;
            color: white;
            .gif{
                width: 50px;
            }

            .name{
                color:$sec;
                font-weight: 500;
                font-size: 2.5rem;
                
                
            }
        }

        .dev-vector{
            
            max-width : 100%;
        }

    }


    .coding-journey{
        border: none;
        background-color: rgba($pri, 0.98);
        color: white;
        text-align: center;

        h2{
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .coding-gif{
            display: inline;
            width:80px;
        }

        .journey{

            margin-top: 2rem;
            padding: 0 0.5rem;
            font-size: 1.4rem;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;


        }


    }

    
}

.home>*{
    padding: 2rem 2rem;
 
}

mark{
    color: $sec;
    background-color: transparent;
}


@media (min-width:1000px) {
    .home{

        

        .intro{
            display: flex;
            flex-direction: row;
            padding: 0 4rem;
        }

       
    }
}