* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.app {
  width: 100%;
}

.home {
  width: 100%;
  border: none;
  outline: none;
}

.home .intro {
  height: calc(100vh - 85.6px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a2b50;
}

.home .intro .greet-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 2rem;
}

.home .intro .greet {
  font-size: 2rem;
  color: white;
}

.home .intro .greet .gif {
  width: 50px;
}

.home .intro .greet .name {
  color: #ef476f;
  font-weight: 500;
  font-size: 2.5rem;
}

.home .intro .title {
  font-size: 1.3rem;
  color: #ef476f;
  text-align: center;
  background-color: white;
  margin-inline: auto;
  white-space: nowrap;
  font-family: 'Rubik', sans-serif;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  outline: none;
}

.home .intro .title::before, .home .intro .title::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  outline: none;
}

.home .intro .title::before {
  background-color: #1a2b50;
  -webkit-animation: typewriter 5s steps(15) forwards;
          animation: typewriter 5s steps(15) forwards;
  border: none;
  outline: none;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

.home .intro .dev-vector {
  max-width: 100%;
}

.home .coding-journey {
  border: none;
  background-color: rgba(20, 33, 61, 0.98);
  color: white;
  text-align: center;
}

.home .coding-journey h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .coding-journey .coding-gif {
  display: inline;
  width: 80px;
}

.home .coding-journey .journey {
  margin-top: 2rem;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.home > * {
  padding: 2rem 2rem;
}

mark {
  color: #ef476f;
  background-color: transparent;
}

@media (min-width: 1000px) {
  .home .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 4rem;
  }
}
/*# sourceMappingURL=Home.css.map */