.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .greet-title {
  margin-top: 2rem;
  width: 100%;
}
.hero .greet-title .greet {
  text-align: center;
}
.hero .greet-title .title {
  display: flex;
  justify-content: center;
}
.hero img {
  width: 100%;
  max-width: 500px;
}